<header class="header">
  <nav class="header__nav">
    <ul>
      <li>
        <a href="/">HOME</a>
      </li>
      <li>
        <a href="/messages">message</a>
      </li>
      
    </ul>
  </nav>

</header>
