<div class="author">
   <h1 class="author_heading">Hello ,send a message to server</h1>
   
</div>



<section class="articles">
 

  <div>
    <form id="contact-form" >

      <input id="message" type="text" name="data" placeholder="Enter your data" onkeyup=validate()>
      <span id="errMsg" style="color: #ff0101;" ></span>
      <br/>
      <button  type="submit" style="
      padding: 10px 20px;
      font-size: 16px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;"
      >send</button>
      
    </form>
  
  </div>
  

  <script>
    $("#contact-form").submit((e) => {
    e.preventDefault()
    if (validate()) {
        $.ajax({
            url: "/postData",
            data: $("#contact-form").serialize(),
            method: "post",
            success: function (response) {
              console.log(response);
                alert(response?.message)
                window.location.reload()
            },
            error: function (err) {
                alert("Something went Wrong")
            }
    })
   }
})


function validate() {
  var message = document.getElementById("message").value;
  if (message.length < 3) {
      document.getElementById("errMsg").innerHTML = "Please Enter 3 charater";
      return false;
  }
  else {
      document.getElementById("errMsg").innerHTML = " ";
      return true;
    }
}



    </script>

</section>